// measures
$header-height: 20rem;
$footer-height: 10rem;

// Colors
$brand-primary: #73baff;
$background-white: #fdfdfd;
$background-black: black;
$background-grey: #aaa;

// Fonts
$fa-font-path: '~font-awesome/fonts';
